<nav class="navbar navbar-expand fixed-top" [ngClass]="{'navbar-dark bg-primary': pageYOffset > 99, 'navbar-light': pageYOffset < 100}">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="favicon.svg" width="32" height="32" alt="Migliacci Geoffrey">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">PROFIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects">PROJETS</a>
      </li>
    </ul>
  </div>
</nav>
