<nav id="nav" class="d-flex flex-column justify-content-center">
  <ul>
    <li>
      <a href="#home">
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#profile">
        <fa-icon [icon]="['fas', 'file']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#portfolio">
        <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#projects">
        <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#contact">
        <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
