:host {
    mat-toolbar {
        .spacer {
            flex: 1 1 auto;
        }
    }

    main {
        height: calc(100vh - 64px);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 600px) {
        main {
            height: calc(100vh - 56px);
        }
    }
}
