<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Home" mat-icon-button routerLink="/">
        <mat-icon aria-label="Home navigation icon">home</mat-icon>
      </button>
      <button type="button" aria-label="Works" mat-icon-button routerLink="/projects">
        <mat-icon aria-label="Work navigation icon">work</mat-icon>
      </button>
      <span class="spacer"></span>
      <ng-container *ngIf="authService.user$ | async; then authenticated else guest"> </ng-container>
      <ng-template #guest>
        <button type="button" aria-label="Login" mat-icon-button (click)="authService.googleSignin()">
          <mat-icon aria-label="Login">exit_to_app</mat-icon>
        </button>
      </ng-template>
      <ng-template #authenticated>
        <ng-container *ngIf="authService.user$ | async as user">
          <button type="button" aria-label="User menu" mat-icon-button [matMenuTriggerFor]="menu">
            <ng-container *ngIf="user.photoURL; then userPhoto else noPhoto"></ng-container>
            <ng-template #userPhoto>
              <img class="profile" [src]="user.photoURL" aria-label="User photo">
            </ng-template>
            <ng-template #noPhoto>
              <mat-icon aria-label="User menu icon">account_circle</mat-icon>
            </ng-template>
          </button>
        </ng-container>
        <mat-menu #menu="matMenu">
          <button mat-menu-item aria-label="Sign out" (click)="authService.signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
      </ng-template>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<main>
  <router-outlet></router-outlet>
</main>