<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button routerLink="/" mat-icon-button aria-label="Retour sur la page principale">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="spacer"></span>
        <ng-container *appIsAuth="false">
            <app-login-btn></app-login-btn>
        </ng-container>
        <ng-container *appIsAuth>
            <app-profile-circle size="40"></app-profile-circle>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>