:host {
    .content {
        padding: 1rem;

        // move card to a component
        mat-card {
            margin: 1rem;
        }

        img {
            height: 15rem;
            object-fit: cover;
        }
    }
}
