$primary: rgb(16, 24, 32);
$secondary: rgb(255, 148, 82);
$enable-rounded: false;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: Montserrat;
$green: rgb(81, 192, 104);
$cyan: rgb(65, 199, 219);
$yellow: rgb(255, 210, 75);
