@import '_bootstrap.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, sans-serif !important;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #101820;
  &:hover {
    background: #ff9452;
  }
}
