:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);

    .me {
        height: 14vh;
        border-radius: 50%;
        filter: drop-shadow(0 0 0.5rem #111111);
        margin: 1rem;
    }

    .name {
        font-size: 5vw;
        line-height: 5vw;
        letter-spacing: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .title {
        font-size: 3vw;
        line-height: 3vw;
        letter-spacing: 0.5rem;
        font-weight: lighter;
        text-align: center;
        color: white;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}
