<picture>
    <source srcset="assets/images/me.webp" type="image/webp">
    <source srcset="assets/images/me.jpg" type="image/jpeg">
    <img class="me" alt="Geoffrey Migliacci" src="assets/images/me.jpg" />
</picture>
<h1 class="name">MIGLIACCI GEOFFREY</h1>
<h2 class="title">DÉVELOPPEUR FULL STACK</h2>
<div class="links">
    <a href="./assets/files/CV.pdf" target="_blank" matTooltip="CV">
        <button mat-icon-button color="accent" aria-label="Ouvrir mon CV">
            <mat-icon>description</mat-icon>
        </button>
    </a>
    <a routerLink="/projects" matTooltip="Mes projets">
        <button mat-icon-button color="accent" aria-label="Mes projets">
            <mat-icon>work</mat-icon>
        </button>
    </a>
</div>