:host {
    height: 100vh;

    main {
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/forest.jpg) no-repeat center center fixed;
        background-size: cover;

        h1 {
            font-family: 'Montserrat', Helvetica, sans-serif;
            text-align: center;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 7vw;
            line-height: 7vw;
            color: #fff;
        }

        h2 {
            font-family: 'Montserrat', Helvetica, sans-serif;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 5vw;
            line-height: 5vw;
            color: #fff;
        }
    }
}
