<main fxLayout="column" fxLayoutAlign="center center">
    <h1>GEOFFREY MIGLIACCI</h1>
    <h2>FULL STACK DEVELOPER</h2>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button routerLink="profile" mat-icon-button color="accent" matTooltipShowDelay="200" matTooltipHideDelay="200"
            matTooltip="Profil" aria-label="Navigation vers mes projets">
            <mat-icon>description</mat-icon>
        </button>
        <button routerLink="projects" mat-icon-button color="accent" matTooltipShowDelay="200" matTooltipHideDelay="200"
            matTooltip="Projets" aria-label="Navigation vers mes projets">
            <mat-icon>work</mat-icon>
        </button>
    </div>
</main>